<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>YoungMinds Fundraiser | Home</title>
</head>
<body>

    <header>
        <div id="heading">
            <h1>YoungMinds Charity Fundraiser</h1>
        </div>
        <nav>
            <a class="nav-btn-disabled" href="{{ url_for('home') }}">Home</a>
            <a class="nav-btn-enabled" href="{{ url_for('about_charity') }}">About YoungMinds</a>
            <a class="nav-btn-enabled" href="https://www.youngminds.org.uk">YoungMinds</a>
        </nav>
    </header>

    <div class="wrapper"> <!-- wrapper for containers + side blocks -->
        <div id="block-left"></div>

        <div class="container-wrapper"> <!-- wrapper for containers -->

            <div class="container container-yellow">
                <div class="container-heading"><h2>What is this site for?</h2></div>
                <div class="container-content">
                    <p>As part of our college course, we have made this website to raise awareness and money for the YoungMinds Charity. What is the point of this website? This website aims to raise awareness and money for YoungMinds charity. If you're interested in supporting YoungMinds, click <a href="{{ url_for('about_charity') }}">here</a>. YoungMinds and we would appreciate it if you could share this or their <a href="https://www.youngminds.org.uk">official site</a> to spread their message; no young person should feel alone with their mental health.</p>
                </div>
            </div>

            <div class="container container-normal">
                <div class="container-heading"><h2>Mental Health Matters</h2></div>
                <div class="container-content">
                    <p>If you're a young person, a parent, or work with young people, YoungMinds is here to help. YoungMinds has been helping young people with their mental health since 1993 and intends to keep providing support. Mental health issues are increasing yearly, so awareness and support matter. A single donation can make a significant difference to young people's health, or you can choose to donate monthly and help improve their lives. If you cannot donate, then you can spread awareness of mental health by sharing this or the <a href="https://www.youngminds.org.uk">official site</a> with your friends and family.</p>
                </div>
            </div>

        </div>

        <div id="block-right"></div>
    </div>

    <footer>
        <div id="footer-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about_charity') }}">What is YoungMinds?</a>
            <a href="https://www.youngminds.org.uk/">YoungMinds official website</a>
        </div>
        <div id="footer-txt">
            <p>Devloped by <a href="http://dylanbullock.co.uk" target="_blank">Dylan</a> and <a href="https://github.com/SenseiChromosome" target="_blank">Toby</a>.</p>
            <br><p>We are not affiliated or partnered with YoungMinds, we are only raising awareness for their charity.</p>
        </div>
    </footer>

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>