:root {
    --colour-slate: #191919;
    --colour-slate-light: #474747;
    --colour-grey: #cdcfd0;
    --colour-grey-light: #ebebeb;
    --colour-blue: #066aff;
    --colour-lilac: #bc71ff;
    --colour-pink: #ff1e43;
    --colour-orange: #ff5f00;
    --colour-green: #34dc00;
    --colour-blue-light: #33bbff;
    --colour-lilac-light: #e1c3ff;
    --colour-pink-light: #ffcfde;
    --colour-orange-light: #ffd888;
    --colour-green-light: #a8ff91;
    --colour-yellow: #ffff00;
    --colour-yellow-dark: #dddd00;
}

html {
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    font-family: 'Space Grotesk';
    text-decoration: none;
}

h1, h2 {
    font-family: 'Oswald';
}

body {
    background: white;
    font-family: 'Space Grotesk';
}

/* 
  Device = Large laptops, Desktops
  Screen = 1281px to 2560px
*/

@media (min-width: 1281px) and (max-width: 2560px) {

    header {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
        border-bottom: solid 1px var(--colour-grey);
        background: white;
    }

    #heading {

    }

    nav {
    }
    nav a {
        margin-right: 1rem;
    }

    .nav-btn-enabled {
        color: black;
    }
    .nav-btn-enabled:hover {
        color: var(--colour-yellow-dark);
        text-decoration: underline;
        text-underline-offset: 2px;
        cursor: pointer;
    }
    .nav-btn-disabled {
        color: var(--colour-grey);
        cursor: default;
    }

    .wrapper {
        width: auto;
        position: relative;
        display: flex;
        flex-direction:row;
        justify-content: center;
        margin-top: 3rem;
    }

    #block-left {
        width: 15% /* centers the containers */
    }
    #block-right {
        width: 15%;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        border: solid 1px black;
        margin-top: 2rem;
    }
    .container-heading {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
    .container-content {

    }
    .container a {
        color: black;
        text-decoration: underline;
    }
    .container a:hover {
        color: var(--colour-slate-light);
    }

    #container1 {
        border: none;
        background: var(--colour-yellow);
        color: black;
    }

    footer {
        height: 20%;
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: var(--colour-slate);
    }
    footer a {
        color: white;
        text-decoration: underline;
    }
    footer a:hover {
        color: var(--colour-yellow-dark);
    }
}

/* --- ALTERNATE COLOUR THEMES --- */