<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoungMinds Fundraiser | About Young Minds</title>
</head>
<body>

    <header>
        <div id="heading">
            <h1>YoungMinds Charity Fundraiser</h1>
        </div>
        <nav>
            <a class="nav-btn-enabled" href="{{ url_for('home') }}">Home</a>
            <a class="nav-btn-disab" href="{{ url_for('about_charity') }}">About YoungMinds</a>
        </nav>
    </header>
    
</body>
</html>