<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>YoungMinds Fundraiser | Home</title>
</head>
<body>

    <header>
        <div id="heading">
            <h1>YoungMinds Charity Fundraiser</h1>
        </div>
        <nav>
            <a class="nav-btn-disabled" href="{{ url_for('home') }}">Home</a>
            <a class="nav-btn-enabled" href="{{ url_for('about_charity') }}">About YoungMinds</a>
        </nav>
    </header>

    <div class="wrapper"> <!-- wrapper for containers + side blocks -->
        <div id="block-left"></div>

        <div class="container-wrapper"> <!-- wrapper for containers -->

            <div id="container1" class="container">
                <div class="container-heading"><h2>What is this site for?</h2></div>
                <div class="container-content"><p>As part of our college project, we have made this website to raise awareness and money for the <a href="https://www.youngminds.org.uk/" target="_blank">YoungMinds Charity</a>.</p></div>
            </div>

            <div id="container2" class="container">
                <div class="container-heading">Placeholder</div>
                <div class="container-content">Temp</div>
            </div>

        </div>

        <div id="block-right"></div>
    </div>

    <footer>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about_charity') }}">What is YoungMinds?</a>
        <a href="https://www.youngminds.org.uk/">YoungMinds official website</a>
    </footer>

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>